html, body {
    height: 100%;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(251, 151, 8);
    background: linear-gradient(90deg, rgba(251, 151, 8, 1) 0%, rgba(252, 177, 48, 1) 41%, rgba(0, 151, 181, 1) 100%);
}

button {
    border: 0.25rem solid black;
    border-radius: 1.375rem;
    font-size: 3rem;
    width: 24rem;
    padding: 1.4rem;
}

button:focus {
    outline: 0;
}

p {
    margin: 0;
    padding: 3rem;
}

.hidden {
    display: none !important;
}

.correct {
    transition: background 0.25s ease-in-out;
    background-color: #00c206 !important;
}

.wrong {
    transition: background 0.2s ease-in-out;
    background-color: #d90000 !important;
}

.ans_group {
    text-align: center; /* centers the buttons */
}

.ans_group button {
    background-color: #fae9c0;
    color: black;
    padding-left: 1rem;
}

.ans_group button:hover {
    background-color: #d9caa7;
}

.vibration {
    animation: shake 0.5s;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.go_back {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.go_back:hover {
    background-color: grey;
}

#game {}

#start_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 0 auto;
}

#start_btn:hover {
    background-color: #0067b5;
}

#settings_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 5% auto;
}

#settings_btn:hover {
    background-color: #0067b5;
}

#credits {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: #003463;
}

#credits_btn {
    background-color: #007ede;
    color: #11ff00;
    display: block;
    margin: 0 auto;
    border: ;
}

#credits_btn:hover {
    background-color: #0067b5;
}

#question {
    font-size: 4rem;
    text-align: center;
}

#question_block {
    display: block;
}

#answers_block {

}

#answers_block button {
    margin: 0.5rem;
}

#retry_menu {
    font-size: 2rem;
    text-align: center;
    background-color: lightblue;
    border: 0.25rem solid black;
    border-radius: 1.375rem;
    z-index: 1;
}

#retry_menu button {
    display: block;
    margin: 0.5em;
}

#playagain_btn {

}

#playagain_btn:hover {
    background-color: #bfbfbf;
}

#home_btn {

}

#home_btn:hover {
    background-color: #bfbfbf;
}

#overlay-filter {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    z-index: -1;
    /* changing this to 0 will make the start menu unclickable */
}

#overlay-filter.show {
    opacity: 0.5;
    z-index: 0;
}

#blur-filter {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.5s ease-in;
    z-index: -1;
    /* changing this to 0 will make the start menu unclickable */
}

#blur-filter.show {
    backdrop-filter: blur(5px);
    z-index: 0;
}

@keyframes shake {
    10%,90% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20%,80% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30%,50%,70% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40%,60% {
        transform: translate(1px, -1px) rotate(1deg);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 13px;
    }

    .ans_group button {
        width: 90vw;
        text-align: center;
    }
}

@media (min-width: 769px) {
    html {
        font-size: calc(100vw / 60);
    }

    .ans_group button {
        text-align: left;
    };
}

@media (min-width: 1281px) {
    html {
        font-size: calc(100vh / 40);
        ;
    }
}
